.word-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.word-checkbox input[type="checkbox"] {
    display: none;
}

.word-checkbox label {
    font-family: 'Roboto', sans-serif;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.word-checkbox label::before {
    content: '❌';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
    font-size: 1.2em;
    border-radius: 50%;
    border: 2px solid #ff0000;
    color: #ff0000;
}

.word-checkbox input[type="checkbox"]:checked + label::before {
    content: '✔';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
    font-size: 1.2em;
    border-radius: 50%;
    border: 2px solid #28a745;
    color: #28a745;
}